body{
    margin: 0px;
    width: 100vw;
    padding: 0px;
    display: flex;
	background-color: azure;
}
input{
	background-color: azure;
}
main{
    margin: 50px auto;
}
h1{
	font-size: 24px;
}
p{
	font-size: 18px;
	font-weight: bold;
}
span{
	font-weight: normal;
}
button{
	font-weight: bold;
	font-size: 18px;
	padding: 10px 20px;
	background-color: chocolate;
	border-color: transparent;
}
button:hover{
	transform: scale(1.1);
	cursor: pointer;
}